.navbar{
	
	background-color: gainsboro;
	margin-bottom: 0px;
}

.logo{

    height: 13%;
}

.glyphicon-log-out{
	padding-left:4px;
}

.msgbienvenida {
    padding-right: 45px;
    margin-top: 11.5%;
}

.cerrarsesion {
    margin-left: -13%;
    margin-top: 8%;
}

.col-sm-3.col-md-2.sidebar {
    background-color: bisque;
}

.sidebar{
	height: 100%;
	
}